/* Card */
    .card{
      
      display: block;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
      padding: 10px;
      margin: 20px;
    }

	